/* Réinitialisation de marges et padding */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Style global du body */
body {
    font-family: 'Century Gothic', Verdana, sans-serif;
    color: #EAEAEA;
    background-color: black;
    text-align: center;
    padding: 0;
    margin: 0;
    min-height: 100vh;
}

/* En-tête et titre */
header {
    padding: 50px 0;
    background-color: #000;
}

h1 {
    font-size: 9rem;
    font-family: 'Creepster', cursive;
    color: #B30000;
    letter-spacing: 3px;
    margin: 60px;
}

/* Navigation */
.navi ul {
    display: flex;
    justify-content: center;
    gap: 130px;
    background-color: #B30000;
    padding: 40px 0;
    list-style: none;
}

.navi a {
    text-decoration: none;
    color: #FFFFFF;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    font-weight: bold;
    font-size: 1.1rem;
}

.navi a:hover {
    color: #F1F1F1;
    border-top: 2px solid black;
    margin-top: 5px;
    font-size: 20px;
}

