:root {

    --color-nav: #121212; /* boutons et barres de navigation */
    --color-border: #121212;      /* Bordures */
    --color-rod: #ffffff;   /* barres */
    --color-background: #F0F0F0; /* background */
    --color-hover: #333333; /* Hover bouton, effet lorsque le pointeur passe sur le bouton */
    --color-nav-light: #2c2c2c; /* Même couleur que --color-nav, mais avec un teint plus clair */
    --color-background-form: #E0E0E0; /* Background pour les formulaires */
    --color-background-profile: #F0F0F0; /* La même couleur que la boîte du profil utilisateur */
    --color-border-dark: #121212; /* foncé */
    --color-redlight-root: black; /* ne concerne pas accessible.css */
    --color-search-button: #121212;    /* Bouton noir */
    --color-search-button-hover: #343131; /* Noir clair au survol */
    --color-search-form-group: #F0F0F0;
    --color-white: #121212; /* noir*/
    --color-orange: #ffa500; /* Orange */
    --color-blue: #007bff; /* Bleu */
    --color-purple: #800080; /* Violet */
    --color-green:#33ff00;
    --color-travelbutton: #A89F91; 
    

    /* Taille de texte augmentée */
    font-size: 20px;
}

#themeToggle {
    font-size: 28px;
    padding: 15px;
    background-color: var(--color-rod);
    color: var(--color-white);
    border: 3px solid var(--color-white);
}

