@import 'main.css';

.contacts {
    display: flex;
    flex-direction: column;
    gap: 2rem; /* espacement entre les contacts */
    align-items: flex-start; /* aligne tout à gauche */
  }
  
  .contacts a {
    display: flex;
    align-items: center;
    text-decoration: none;
  }
  
  .contacts img {
    float: left;
    max-width: 300px;
    height: auto;
  }

  .contacts .contact-item {
    display: flex;
    align-items: center;
    gap: 1.5rem; /* espace entre image et texte */
  }

.description {
    margin-left: 60px;
}
  
